*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a{
  color: inherit;
  text-decoration: none;  
}
ul{
  list-style: none;
}
figure{
  width: fit-content;
  height: fit-content;
}
img{
  max-width: 100%;
  display: block;  
}
body{
  color: #494554;
  font-family: 'NotoSansKR-Medium';  
}

@font-face {
  font-family: 'Jua';  
  src: url('../public/font/Jua.ttf') format('truetype');  
}
@font-face {
  font-family: 'NotoSansKR-Medium';  
  src: url('../public/font/NotoSansKR-Medium.ttf') format('truetype');  
}
@font-face {
  font-family: 'SupermercadoOne.ttf';  
  src: url('../public/font/SupermercadoOne.ttf') format('truetype');  
}